@model IEnumerable<KnowledgeHubPortal.WebUI.Models.ArticlesForReviewViewModel>

@{
    ViewBag.Title = "Review Articles";
}
<h3>@TempData["Message"]</h3>
<h2>Review Articles</h2>

<form method="post">
    <table class="table">
        <tr>
            <th>Select</th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submiter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenSubmited)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="articleIds" value="@item.Id">
                </td>
                <td>
                    <a href="@item.url">@item.Title</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Submiter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenSubmited)
                </td>
            </tr>
        }
    </table>
    <input type="submit" name="approve" value="Approve" formaction="Approve" class="btn btn-success"/>
    <input type="submit" name="reject" value="Reject" formaction="Reject" class="btn btn-danger"/>
</form>
